/* =========================
   GLOBAL / BODY
========================= */

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    background:radial-gradient(circle at center,#0d0d1f,#000);
    min-height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
    font-family:Arial, Helvetica, sans-serif;
    color:white;
    text-align:center;
    position:relative;
    overflow-y:auto;
}

/* =========================
   TIC TAC TOE
========================= */

.board{
    display:grid;
    grid-template-columns:repeat(3,120px);
    gap:18px;
    justify-content:center;
    margin-top:30px;
}

.cell{
    width:120px;
    height:120px;
    background:white;
    font-size:65px;
    font-weight:bold;
    display:flex;
    justify-content:center;
    align-items:center;
    cursor:pointer;
    border-radius:20px;
    transition:0.3s;
    box-shadow:0 0 15px rgba(255,255,255,0.3);
}

/* Hover effect */
.cell:hover{
    transform:scale(1.08);
}

/* X Style */
.cell.x{
    color:#ff2e63;
    text-shadow:
        0 0 10px #ff2e63,
        0 0 20px #ff2e63;
}

/* O Style */
.cell.o{
    color:#00c3ff;
    text-shadow:
        0 0 10px #00c3ff,
        0 0 20px #00c3ff;
}

/* =========================
   STATUS TEXT
========================= */

#status{
    margin-top:20px;
    font-size:22px;
    text-shadow:0 0 10px pink;
}

/* =========================
   MOBILE OPTIMIZATION
========================= */

@media (max-width:480px){

    .board{
        grid-template-columns:repeat(3,95px);
        gap:12px;
    }

    .cell{
        width:95px;
        height:95px;
        font-size:45px;
    }
}
/* =========================
   SCRAPBOOK IMAGE FRAME
========================= */

.memory{
    width:230px;
    height:270px;
    background:white;
    padding:10px;
    border-radius:10px;
    box-shadow:0 15px 25px rgba(0,0,0,0.4);
    overflow:hidden;
}

.memory img{
    width:100%;
    height:100%;
    object-fit:cover;   /* fills full frame */
    display:block;
}
